@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        174.2deg,
        rgba(255, 244, 228, 1) 7.1%,
        rgba(240, 246, 238, 1) 67.4%
    );
    min-height: 100vh;
    margin: 0;
    font-family: "Lato", sans-serif;
}

header {
    background-color: #4a249d;
    color: #fff;
    text-align: center;
    height: 100px;
    place-content: center;
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 30px auto;
}

h1 {
    letter-spacing: 1px;
    margin: 0;
}

h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

h4 {
    margin: 0;
    text-transform: uppercase;
}

.inc-exp-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.inc-exp-container > div {
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type {
    border-right: 1px solid #dedede;
}

.money {
    font-size: 20px;
    letter-spacing: 1;
    margin: 5px 0;
}

.money.plus {
    color: #2ecc71;
}

.money.minus {
    color: #c0392b;
}

label {
    display: inline-block;
    margin: 10px 0;
}

input,
select {
    border: 1px solid #dedede;
    border-radius: 8px;
    display: block;
    font-size: 16px;
    padding: 12px;
    width: 100%;
    font-family: "Lato", sans-serif;
    background-color: #fff;
    transition: 0.3s ease;
}

input:focus,
select:focus {
    outline: none;
    border-color: #4a249d;
    box-shadow: 0 0 5px rgba(74, 36, 157, 0.3);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.btn {
    cursor: pointer;
    background: #4a249d;
    color: #fff;
    box-shadow: var(--box-shadow);
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    margin-top: 2rem;
}

.btn:focus,
.delete-btn:focus {
    outline: 0;
}

.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
    max-height: 300px;       /* control scroll height */
    overflow-y: auto;        /* vertical scroll */
    position: relative;     /* for li absolute positioning */
}

.list li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.list li.plus {
    border-right: 5px solid #2ecc71;
}

.list li.minus {
    border-right: 5px solid #c0392b;
}

.delete-btn {
    cursor: pointer;
    background-color: #c0392b;
    border: 0;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    padding: 2px 6px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
    opacity: 1;
}

select {
  border: 1px solid #dedede;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

select {
    cursor: pointer;
}

@media (max-width: 480px) {

}

.form-control {
    margin-bottom: 15px;
}

.logo-header {
    background-color: #4a249d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px ;
}

.logo {
    height: 300px;
    margin-top: -90px;
}

.main-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
}

.container {
  width: 45%;
}

.chart-container {
  width: 50%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.chart-container canvas {
  width: 100% !important;
  height: 400px !important;
}

.history-header {
  display: flex;
  justify-content: space-between; /* pushes button to right */
  align-items: center;
  position: relative;
  z-index: 10;
}

.menu-container {
  position: relative;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 6px;
}

.menu-btn:hover {
  background: white;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;   /* align dropdown to right */
  top: 35px;
  background:#ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  overflow: hidden;
  min-width: 140px;
  z-index: 9999;
}

.dropdown-menu button {
  width: 100%;
  padding: 10px 15px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background: #f5f5f5;
}



